// Color Variables
$primary-color: #2eb8b8;
$text-color: #777;
$text-color-dark: #2eb8b8;
$body-color: #fff;
$border-color: #182430;
$black: #000;
$white: #fff;
$light: #EDF6F5;

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';